@{
    Layout = null; // This line specifies that this view won't use a layout
}

@model secureshare.ViewModels.ReportViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border-style : ridge;
            text-align: center;
            padding: 10px;
        }
    </style>

</head>
<body>
    <div class="pagetitle">
      <h1>Report</h1>
    </div><!-- End Page Title -->

    <div style="height: 25px;"></div>


    <table>
        <thead>
            <tr>
                <th scope="col">Folders</th>
                <th scope="col">Users</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><h5>@(Model.folders)</h5></td>
                <td><h5>@(Model.users)</h5></td>
            </tr>
        </tbody>
    </table>

    <div style="height: 25px;"></div>

    <H4>User / Folder Permission :</H4>

    <div style="height: 10px;"></div>


    <table>
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">PermissionType</th>
                <th scope="col">FoldersAcess</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>
                        @if (user.PermissionType == 1)
                        {
                            <h5>Download, Upload</h5>
                        }
                        else if (user.PermissionType == 2)
                        {
                            <h5>Download</h5>
                        }
                    </td>
                    <td>
                        @foreach (var acess in Model.UFPS.Where(p => p.UserID == user.UserID))
                        {
                            <h5>@Model.Folders.FirstOrDefault(f => f.FolderID == acess.FolderID)?.Name</h5>
                        }
                    </td>
                </tr>
            }
    </table>


</body>
</html>